@use '~@angular/material' as mat;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$weather-theme-primary: mat.define-palette(mat.$gray-palette, 800, 700, 600);
$weather-theme-accent:  mat.define-palette(mat.$amber-palette, 800, 700);


// The warn palette is optional (defaults to red).
$weather-theme-warn:    mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$weather-theme-theme: mat.define-light-theme($weather-theme-primary, $weather-theme-accent, $weather-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($weather-theme-theme);
